@charset "UTF-8";
.intro {
  background-image: url("../../img/crossfitBackgrounds/cfb_background.jpg");
  z-index: 3;
}

.loading-mode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.logoapp {
  height: 70%;
  margin-bottom: 50px;
}

.loading {
  position: absolute;
  color: rgb(255, 234, 0);
  font-size: 5vh;
  text-align: center;
  opacity: 0;
  bottom: 8vh;
}

#cfbytom {
  animation: opacity1 3s linear;
}

.anime {
  animation: fillSvg 2s linear;
  stroke-dasharray: 33046;
}

@keyframes fillSvg {
  0% {
    stroke-dashoffset: 33046;
  }
  100% {
    stroke-dashoffset: 66092;
  }
}
@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity0 {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.none {
  display: none;
}

.start-btn {
  z-index: 4;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 10%;
  color: #000000;
  cursor: pointer;
}

.start-btn:hover {
  background: rgb(255, 234, 0);
}

.opauot {
  animation: opacity0 2s;
}

.opain {
  animation: opacity1 2s;
}

.application {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

@keyframes opacity1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.opain {
  animation: opacity1 2s;
}

footer {
  display: flex;
  margin: 0 auto;
  left: 1vw;
  bottom: 0;
  position: absolute;
  height: 5vw;
  width: 98vw;
  margin-bottom: 1vw;
  z-index: 2;
}

.logo {
  position: absolute;
  bottom: 0;
  width: 10vw;
  display: flex;
}

.marquee {
  width: 100%;
  overflow: hidden; /* Ukryj wszystko, co wychodzi poza kontener */
  white-space: nowrap; /* Zapobiega zawijaniu tekstu */
  position: relative; /* Ustawienie pozycji względem rodzica */
  margin-left: 10vw;
  width: 80vw;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.marquee-content {
  height: 100vh;
  display: flex; /* Umożliwia wyświetlanie tekstu obok siebie */
  align-items: center;
}

.hour {
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #000;
}

.swiper {
  width: 100vw;
  height: 100vh;
}

.swiper-slide img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.swiper-slide video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.activities {
  width: 100%;
  height: 100%;
  background-image: url("../../img/crossfitBackgrounds/crossfit-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
}

.bg-gym {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.current-head {
  font-size: 5rem;
  margin: 0;
  padding-top: 30px;
}

.current-activities {
  display: flex;
  justify-content: center;
  gap: 200px;
  height: 40%;
}

.gyms {
  width: 20vw;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  border-radius: 10px;
}

.gyms img {
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 5vh;
  font-size: 6vh;
}

.gym-name {
  font-size: 3.5rem;
}

.coach {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  color: #e4e4e4;
}

.name-activities {
  font-size: 3vw;
}

.time-activities {
  font-size: 3vw;
}

.event-bg {
  width: 100%;
  height: 100%;
  background-image: url("../../media/murph.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#bytomthd {
  height: 40%;
  object-fit: contain;
}

.countdown-wrapper {
  display: flex;
  gap: 60px;
  margin-bottom: 150px;
}

.countdown-time {
  font-size: 3vw;
  text-align: center;
}

.countdown-time span {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 12vw;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 9vw;
}

body {
  font-size: 3.5vw;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  background-color: #000;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.news-logo {
  position: relative;
  height: 3vw;
  margin: 0 2vw;
}/*# sourceMappingURL=styles.css.map */